* {
  scrollbar-color: white transparent;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: white transparent;
  transition: scrollbar-color 0.1s;
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

*:hover {
  scrollbar-color: #eee transparent;
}

.dark * {
  scrollbar-color: #27272a transparent;
}

.dark *:hover {
  scrollbar-color: #3f3f46 transparent;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
